@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary--color: #7159c1;
    --secondary--color: #F8ED00;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: var(--primary--color);
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: white;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}

.links {
    font-size: 22px;
}

.links a + a {
    margin-left: 32px;
}

.links a {
    text-decoration: none;
    color: #777;
    position: relative;
}

.links a.active {
    font-weight: bold;
    color: var(--primary--color);
}

.links a:hover {
    color: var(--primary--color);
}

.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary--color);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a:hover::after {
    width: 100%;
    transition: width 200ms ease-in-out;
}

/* Cards */

.card {
    width: 800px;
    height: auto;
    background-color: white;
    margin: 45px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3%;

    /* Animation */
    animation: up 700ms ease-out;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
}

.card__image {
    width: 90%;
}

.card__details {
    margin-top: 8px;
    height: 100%;
}

.card__item {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.item {
    justify-content: space-around;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    letter-spacing: 0.3;
    padding: 10px 0;
}

.item div:nth-child(1) {
    font-size: 14px;
    color: #777;
    padding-bottom: 2px;
}

.item div:nth-child(2) {
    font-weight: bold;
    
}

.card__item:last-child(2){
    border: none;
    font-size: 30px;
}

.card__item .item span {
    padding: 8px 16px;
    background-color: var(--secondary--color);
    border-radius: 16px;
    color: #777;
    margin-right: 4px;
    margin-top: 6px;
    display: inline-block;
    font-weight: bold;
}

/* Teachers create */ 

input {
    outline: none;
    margin-top: 5px;
    width: 100%;
    font: 14px;
}

input[type=radio] {
    width: initial;
}

button[type=submit], a.button {
    width: 100%;
    background-color: var(--secondary--color);
    height: 33px;
    font-weight: bold;
    color: #000;
    border-radius: 5px;
}

button[type=submit]:hover {
    outline: 3px solid var(--secondary--color);
}

a.button {
    text-decoration: none;
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    
}

#button__delete button[type=submit] {
    width: 360px;
    background-color:#FDBE2D;
    margin-top: 10px;
}




input::placeholder {
    font-weight: bold;
    font-size: 12px;
}