{% extends 'layout.njk' %}

{% block content %}

    <div class="card">
        <section class="card__image" style="background: url(https://source.unsplash.com/collection/517198/900x900) no-repeat center center /cover"></section>

        <section class="card__details">
            <h3>Detalhes</h3>

            <div class="card__item">
                <div class="item">
                    <div>Professor</div>
                    <div>Paulo Almeida</div>
                </div>
                <div class="item">
                    <div>Idade</div>
                    <div>26</div>
                </div>
                <div class="item">
                    <div>Grau de escolaridade</div>
                    <div>Superior</div>
                </div>
                <div class="item">
                    <div>Tipo da aula</div>
                    <div>Presencial</div>
                </div>
                <div class="item">
                    <div>Acompanhamento</div>
                    <div>TI</div>

                </div>
                <div class="item">
                    <div>Desde</div>
                    <div>29/06/2020</div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}