{% extends 'layout.njk' %}

{% block content %}

    <div class="card table-index">
        <table width="100%">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Acompanhamento</th>
                    <th>Ação</th>
                </tr>
            </thead>

            <tbody>
                {% for teacher in teachers %}
                    <tr>
                        <td>
                            <span style="background-image: url({{teacher.avatar_url}})"></span>
                            {{teacher.name}}</td>
                        

                        <td class="item">
                            {{teacher.occupation}}
                        </td>
                        <td>
                            <a class="action_button"href="/teachers/{{teacher.id}}">Ver</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}